body {
  background-color: black;
  color: white;
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 1%; 
}

.list {
  background-color: rgb(49, 49, 49);
  color: white;
  padding: 1%;
  margin: 1%;
  box-shadow: 1px 1px 10px 1px blue;
  border-radius: 50px;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

.task {
  box-shadow: 1px 1px 10px 1px blue;
  border-radius: 10px;
  border: 1px blue solid ;
  color: white;
  margin: 5%;
}

.myButton {
	background-color: black;
	border-radius:5px;
	border:1px solid ;
	display: inline;
	cursor:pointer;
	color:#ffffff;
	font-size:100%;
	font-weight:bold;
	padding:2% 10%;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
  margin: 10px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}

.center {
  text-align: center;
}

input {
  background-color: rgb(49, 49, 49);
  color: white;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 1px 10px 1px blue;
  font-family: Arial;
  font-size: 100%;
}

input::placeholder {
  color: lightgray; 
  font-size: 85%;
}

input:focus {
  outline: none; 
  border: 1px solid blue;
  box-shadow: 0 0 5px blue;
}





